body {
    font: "Courier New", Courier, monospace;
    text-align: center;
    background-color: green;
}

#form-outer {
    background-color: white;
    margin: 50px 150px 50px 150px;
    padding: 10px 0 10px 0;
}

#title {
    padding: 15px 0 0 0;
}

#footer {
    padding: 0 0 15px 0;
}